.loading {
    text-align: center;
    animation: loader infinite 2s ease-out;
}

@keyframes loader {
    0% {
        color: #fff;
    }
    50% {
        color: #ab8419;
    }
    100% {
        color: #fff;
    }
}